<div class="contextual">
<%= link_to l(:label_profile), user_path(@user), :class => 'icon icon-user' %>
</div>
<%=
  page_title = title [@user.name, user_path(@user)], l(:label_history)
  page_title.insert(page_title.rindex(' ') + 1, avatar(@user).to_s)
%>

<% if @journals.any? %>
  <%= render :partial => 'projects/history', :locals => { :journals => @journals } %>
  <span class="pagination"><%= pagination_links_full @journal_pages, @journal_count %></span> 
<% end %>
