<% if @journals.present? %>
  <div id="history">
    <h3><%=l(:label_history)%></h3>
    <%= render :partial => 'history', :locals => { :journals => @journals } %>
    <span class="pagination"><%= pagination_links_full @journal_pages, @journal_count %></span>
  </div>
<% end %>
