<%
  @journals = JournalSetting.includes(:user).order(:created_on => :asc)
                                            .each_with_index {|j, i| j.indice = i+1}
                                            .reverse
%>

<% if @journals.present? %>
  <div id="history">
    <h3><%=l(:label_history)%></h3>
    <%= render :partial => 'history', :locals => { :journals => @journals } %>
  </div>
<% end %>
