<% @journals = prepare_journal_for_history(@project.journals) %>

<% if @journals.present? %>
  <div id="history">
    <h3><%=l(:label_history)%></h3>
    <%= render :partial => 'history', :locals => { :journals => @journals } %>
  </div>
<% end %>
